

/* income toggle */
.income_chk {
    display: none;
}

.income_label {
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 2rem;
    /* margin: 0.25rem; */
    background: #444;
    /* transition: 0.2s; */
    cursor: pointer;
    border-radius: 4px;
}
.income_label::before {
    content: "支出";
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: crimson;

    /* チェックが戻るときのアニメーション */
    transition: 0.2s;
    border-radius: 4px;

    /* contentの中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"].income_chk:checked + .income_label::before {
    content: "収入";
    left: 50%;
    background: forestgreen;

    /* チェックが入る時のアニメーション */
    transition: 0.2s;
}


/* modal dialog */
.modal_label {
    /* border: solid 0.1rem black; */
    /* padding: 0.25rem; */
    cursor: pointer;
}
.modal_chk {
    display: none;
}

.modal_body {
    display: none;

    /* display:blockになった時点でwidth:100%になるので、ここは未指定でもOK */
    /* width: 100vw; */
    /* 子要素がheightを指定するので、100vhも未指定でOK */
    /* height: 100vh; */
}

.modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

.modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: white;
}

input[type="checkbox"].modal_chk:checked + .modal_body {
    display: block;
}


/* create_modal */

.create_modal{
    height:auto;
    padding:3rem;
}

@media (max-width:800px){
    .create_modal{
        padding:2rem;
    }
}
